<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Artur António Afonso</h5>
        <p class="card-text">Designer</p>
        <p class="card-text"><small class="text-muted">3 anos de experiência</small></p>
        <p class="card-text"><small class="text-muted">Licenciatura em Design</small></p>
        <%# button1 is only visible to entities %>
        <%# the button once clicked, text has to change to the opposite meaning %>
        <%# edit button is only visible to user admin %>
        <button type="button" class="btn btn-primary">Interessado/a</button>
        <button type="button" class="btn btn-success">Editar</button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Artur António Afonso</h5>
        <p class="card-text">Designer</p>
        <p class="card-text"><small class="text-muted">3 anos de experiência</small></p>
        <p class="card-text"><small class="text-muted">Licenciatura em Design</small></p>
        <button type="button" class="btn btn-primary">Interessado/a</button>
        <button type="button" class="btn btn-success">Editar</button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Artur António Afonso</h5>
        <p class="card-text">Designer</p>
        <p class="card-text"><small class="text-muted">3 anos de experiência</small></p>
        <p class="card-text"><small class="text-muted">Licenciatura em Design</small></p>
        <button type="button" class="btn btn-primary">Interessado/a</button>
        <button type="button" class="btn btn-success">Editar</button>
      </div>
    </div>
  </div>
</div>