<% if user_signed_in? %>

    <% if current_user.role == "entity" || current_user.role == "backoffice" %>

    <h1>Inserir/Editar</h1>

    <%= render 'form', news: @news %>

    <% else %>
        <% controller.redirect_to root_url %>
    <% end %>
    
<% end %>
