<p id="notice"><%= notice %></p>

<h6>Candidaturas</h6>

<p>display job_offers de candidate_id</p>

<h6>Empresas interessadas em mim</h6>

<p>display entities com interesse em candidate_id</p>

<h6>Candidato</h6>

<button>Editar Dados</button>
<button>Alterar Password</button>