<p id="notice"><%= notice %></p>

<h4>Novo Registo</h4>

</br>

<div class="d-grid gap-5 col-11 mx-auto">
  <%= link_to 'Sou uma entidade', new_user_registration_path(role:"entity"), class:'nav-link btn btn-outline-secondary', type:"button", style:"padding: 60px; border: 3px solid black"%>
  <%= link_to 'Sou um candidato', new_user_registration_path(role:"candidate"), class:'nav-link btn btn-outline-secondary', type:"button", style:"padding: 60px; border: 3px solid black"%>
</div>