<p id="notice"><%= notice %></p>

<h4>Novo Registo</h4>

</br>

<div class="card" style="width: 18rem;" href="#">
  <div class="card-body">
    <%= link_to 'Sou uma entidade', new_user_registration_path(role:"entity"), class:'nav-link' %>
  </div>
</div>

</br>

<div class="card" style="width: 18rem;" href="#">
  <div class="card-body">
    <%= link_to 'Sou um candidato', new_user_registration_path(role:"candidate"), class:'nav-link' %>
  </div>
</div>